# Ignore Python cache files
__pycache__/

# Ignore environment files
.venv/

# Ignore MLflow artifacts and database
mlruns/
mlflow.db

# Ignore inference artifacts
artifacts/*.csv

# Ignore PyCharm files
.idea/